<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('home') }}">AFi-Planifer</a>

                <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarColor01" 
                aria-controls="navbarColor01" aria-expanded="false" 
                aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                        <h1>Se connecter sur l'application</h1>
                  </ul>
                </div>
              </nav>
              
              <hr>
    <div class="container">
        {% block body %}

        <form action=" {{ path('security_connexion') }} " method="post">
            <div class="form-group">
                <input placeholder="Votre login..." required name="_username" type="text" class="form-control">
                <br>
                <input placeholder="Votre Mot de passe..." required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"> Connexion </button>
            </div>
        </form>

        {% endblock %}
    </div>
 {% block javascripts %}{% endblock %}
</body>
</html>